/* Latest Version Button */

.version-selector {
  color : rgb(17, 13, 13);
  background-color: rgba(221, 168, 35, 0.694);
  /* border: none; */
  height: 30px;
  /* width: 80px; */
  border-radius: 5px;
  border-width: 2px;
  border-color: gray;
  font-size: 1.2em;
  /* padding: 10px; */
  cursor: pointer;
}

.version-selector:hover {
  /* background-color: white; */
  border-width: 2px;
  /* color: rgb(10, 57, 96); */
  background-color: rgba(221, 168, 35, 0.1);
}
